
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


 <body background="mm.jpg" size="500">

  <h1><center>LOGIN PAGE</center></h1>

  <form action="./log">
  <fieldset>
  <legend><h2>user login form</h2> </legend>
  <center><h2>user name:<input type="text" size="25" name="t1"></h2></center>
  <center><h2>password:<input type="password" size="25" name="t2"></h2></center>

  <center><input type="submit" value="login"/></center>
  <center><input type="checkbox" name="muba"/>Remember me</center>
       </fieldset>
  </form>


</body>
</html>